**/.config/autostart/**
**/.config/calibre/**
**/.config/copyq/**
**/.config/hexchat/**
**/.config/keybase/**
**/.config/menus/**
**/.config/nemo/**
**/.config/spotify/**
**/.config/sublime-text-3/Packages/**
**/.config/sublime-text-3/Installed Packages/**
- **/.config/sublime-text-3
**/.config/terminix/**
**/.config/hub/**
**/.config/libinput-gestures.conf
**/.config/redshift.conf
- **/.config
**/.cheat
- **/.cinnamon/spices.cache
**/.cinnamon/**
**/.dconf/**
**/.fonts/**
**/.shutter/**
**/.zsh/**
- **